<div class="col-sm-7 col-md-8 col-lg-9">
	<div class="card">
		<div class="card-header d-flex px-2">
			<h6 class="m-0"><%= page_subheading %></h6>
		</div>
		<div class="card-body p-2">
			<form action="/dashboard/category/add" method="POST" class="mb-0">
					<div class="form-group">
						<input type="text" class="form-control" name="cat_name" value="<%= typeof form!='undefined' ? form.categoryholder : '' %>" placeholder="Category" />
					</div>
					
					<div class="form-group d-flex mb-0">
						<div class="w-50 pr-1">
							<input type="submit" value="Add Category" class="btn btn-block btn-md btn-success">
						</div>
						<div class="w-50 pl-1">
							<a href="/dashboard/categories" class="btn btn-block btn-md btn-success">Cancel</a>
						</div>
					</div>
					
				</form>
		</div>
	</div>
</div>