	<div class="col-sm-7 col-md-8 col-lg-9">
		<div class="card">
			<div class="card-header d-flex px-2">
				<h6 class="m-0"><%= page_subheading %></h6>
			</div>
			<div class="card-body p-2">
				<form action="/dashboard/post/add" method="POST" class="mb-0">               
						<div class="form-group">
							<input type="text" class="form-control" name="title" value="<%= typeof form!='undefined' ? form.titleholder : '' %>" placeholder="Title" />
						</div>

						<div class="form-group">
							<input type="text" class="form-control" name="excerpt" value="<%= typeof form!='undefined' ? form.excerptholder : '' %>" placeholder="Excerpt" />
						</div>

						<div class="form-group">
							<textarea rows="5" class="form-control" name="body" placeholder="Full text"><%= typeof form!='undefined' ? form.bodyholder : '' %></textarea>
						</div>

						<div class="form-group d-flex mb-0">
							<div class="w-50 pr-1">
							<input type="submit" value="Add Post" class="btn btn-block btn-md btn-success">
						</div>
						<div class="w-50 pl-1">
							<a href="/dashboard" class="btn btn-block btn-md btn-success">Cancel</a>
						</div>
						</div>
				</form>
			</div>
		</div>
	</div>