<!-- Sidebar Begin -->
<div class="col-sm-5 col-md-4 col-lg-3">
	<div class="card mb-3">
		<div class="card-header px-2">
			<h6 class="m-0">Menu</h6>
		</div>
		<div class="card-body p-0">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">First item</li>
				<li class="list-group-item">Second item</li>
				<li class="list-group-item">Third item</li>
			</ul>
		</div>
	</div>		
</div><!-- Sidebar End -->